<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="nombre"
               placeholder="Nombre"
               formControlName="nombre">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               placeholder="Apellido"
               formControlName="apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             name="email"
             placeholder="Correo electrónico"
             formControlName="email">
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>
<pre [ngClass]="{'text-danger border-danger' : forma.status === 'INVALID',
     'text-info border-success' : forma.status === 'VALID'}"
     class="bg-light border rounded text-dark p-3 mt-5">
  Estado del formulario: {{ forma.valid }}
  <br>
  Status: {{ forma.status }}
</pre>

<pre [ngClass]="{'text-danger border-danger' : forma.status === 'INVALID',
     'text-success border-success' : forma.status === 'VALID'}"
     class="bg-light border rounded text-dark p-3">
  {{ forma.value | json }}
</pre>
